[Unit]
Description=System Info Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=nicci
ExecStart=%h/etc/rsysinfo/venv.sh %h/pyenv pserver -f %h/etc/rsysinfo/rsysinfo.ini

[Install]
WantedBy=multi-user.target
